# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Additional files to ignore
testApi.js
package-lock.json
package.json
deploy.js
node_modules